<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<div class="container text-center">
	<header>
		<h1><a href="{% url 'password' %}">Home</a></h1>
		<h1><a href="{% url 'about' %}">About</a></h1>
	</header>
	<main>
		<h2>this is password generator</h2>
		<form action="{% url 'generate' %}">
			<select name="length">
				<option value="3" selected="selected">3 char long</option>
				<option value="5">5 char long</option>
				<option value="7">7 char long</option>
				<option value="9">9 char long</option>
				<option value="11">11 char long</option>
				<option value="13">13 char long</option>
				<option value="15">15 char long</option>
				<option value="17">17 char long</option>
			</select>
			<br>
			<input type="checkbox" name="uppercase"> Uppercase
			<br>
			<input type="checkbox" name="number"> Numbers
			<br>
			<input type="checkbox" name="special"> Special Character
			<br>
			<input type="submit" value="generate password" class="btn btn-primary">
		</form>
	</main>
</div>